.container {
  max-width: 1244px;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 3rem;
  height: 3rem;
}

.headerHomeImage {
  width: 150px !important;
  height: 150px !important;
}

.backToHome {
  margin: 3rem 0 0;
}
